/*all*/
body {
	font-family: '微软雅黑';
}

#page-wrapper {
	margin-top: 50px;
}

#wrapper {
	margin-bottom: 50px;
}

#nullTip {
	margin-top: 30px;
}

#titleImg {
	width: 30%;
}

/*nav*/
nav li {
	font-size: 16px;
}

.navbar-right {
	margin-right: 10px;
}

/*glyphicon*/
.glyphicon {
	margin-right: 10px;
}

/*index.jsp*/
#dmallImg {
	width: 100%;
}

@media ( min-width : 768px) {
	#formDiv {
		top: 50px;
	}
}

.wrongAlert {
	margin-top: 60px;
	display: none;
}

@media ( max-width : 768px) {
	.wrongAlert {
		margin-top: 20px;
	}
}

.input-group {
	width: 40%;
}

#numPrompt {
	position: absolute;
	width: 100%;
	margin: 7px 0px 0px 20px;
}

/*listProduct.jsp*/
ul {
	list-style: none;
}

#buyModal .input-group {
	margin-left: 40px;
}

#buyModal li span, #numPrompt {
	font-weight: bold;
	color: #ff9900;
}

#buyModal li {
	font-weight: bold;
}

#search {
	position: absolute;
	top: 16px;
	right: -300px;
	width: 90%;
}

@media ( max-width :768px) {
	#topSearch {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#search {
		right: -180px;
	}
	#searchText {
		min-width: 75px;
	}
	#productTable {
		width: 100%;
	}
}

/*cart.jsp*/
#totalPrice {
	font-weight: bold;
	color: #ff9900;
}

/*error.jsp*/
#errorPrompt {
	margin-top: 200px;
}

/*lisOrders.jsp*/
table caption {
	font-weight: bold;
	text-align: right;
}

table caption span {
	color: #ff9900;
	margin-right: 10px;
}

table {
	margin-top: 15px;
}

/*purchase.jsp*/
#provTd>td {
	vertical-align: middle;
	font-weight: bold;
}

.valignTr>td:nth-child(-n+4) {
	vertical-align: middle;
}

th .btn-xs {
	margin-right: 10px;
}

@media (max-width : 768px) {
	th .btn-xs {
		margin-bottom: 5px;
	}
}