/*all*/
#page-wrapper {
	margin-top: 50px;
}

/*nav*/
nav li {
	font-size: 16px;
}

.navbar-right {
	margin-right: 10px;
}

/*glyphicon*/
.glyphicon {
	margin-right: 10px;
} 

/*index.jsp*/
#dmallImg {
	width: 100%;
}

@media ( min-width :768px) {
	#loginDiv {
		top: 90px;
	}
}

div.alert {
	margin-top: 60px;
	display: none;
}

.input-group {
	width: 40%;
}

#numPrompt {
	position: absolute;
	width: 100%;
	margin: 7px 0px 0px 20px;
}

/*listProduct.jsp*/
ul {
	list-style: none;
}

#buyModal .input-group {
	margin-left: 40px;
}

#buyModal li span, #numPrompt {
	font-weight: bold;
	color: #ff9900;
}

#buyModal li {
	font-weight: bold;
}

#searchImg {
	width: 30%;
}

#search {
	position: absolute;
	top: 16px;
	right: -300px;
	width: 90%;
}


@media ( max-width :768px) {
	#topSearch {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	#search {
		right: -125px;
	}
	
	#searchText {
		min-width: 75px;
	}
}

/*cart.jsp*/
#totalPrice {
	font-weight: bold;
	color: #ff9900;
}

/*error.jsp*/
#errorPrompt {
	margin-top: 200px;
}